
.fullscreen-image-slider .orbit-image {
  width: 800%;
  height: 70vh;
}

.fullscreen-image-slider .orbit-caption {
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background: none;
  text-align: center;
  color: white;
  font-weight: bold;
}
